@import 'tailwindcss';

@source "../views/**/*.blade.php";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}